each comment in commentList
    form.col-md-8.commentlist-form
        .pull-left
            a.user-name(href="/info/#{comment.auther.name}")
                img.comment-head(src="#{comment.auther.headImg}")
        a.user-name(href="/info/#{comment.auther.name}") #{comment.auther.name}
        span.TimeText #{comment.showTime}
        div(style="margin-left:40px")
            p #{comment.body}
            //
            //.div-right
            //    a.btn.btn-xs(href="javascript:void(0)") 回复
            //div.replydiv 时间
            //    input.comment-body
