.container
    .row
        .col-md-offset-2
            - if(entries)
                each entry in entries
                    div(style="background-color: ivory;margin-left:10px;")
                        form.entryForm.col-md-8.center-block
                            .pull-left
                                a.user-name(href="/info/#{entry.userId.name}")
                                    img.user-head(src="#{entry.userId.headImg}")
                            div(style="margin-left:80px")
                                a.user-name(href="/info/#{entry.userId.name}"  style="white-space:nowrap;") #{entry.userId.name}
                                p.TimeText #{entry.showTime}
                                p #{entry.body}
                        ul.nav.nav-pills.col-md-8.entry-tool
                            li
                                a(href="javascript:void(0)" entryId="#{entry._id}" onclick="showComment(this)") 评论
                            li
                                a 点赞
                        .comment(id="#{entry._id}" style="display:none;" )
                            include ../includes/comment
                include ../includes/Entrypages
            include ../userHead/infoHead

